@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --flow: linear-gradient(
        45deg,
        #1F2833,
        #45A29E,
        #66FCF1  
    );
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #0b0310;
}

.nav-bar{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    color: #C5C6C7;
    background-color: #1F2833;
    animation: nav 3s ease-in;
    animation-fill-mode: forwards;
    transition: box-shadow 0.5s, background-color 0.75s;
}

@keyframes nav {
    0% {
        opacity: 0;
    }
     100% {
        opacity: 1;
    }
}

.nav-bar:hover {
    background-color: #273546d7;
    box-shadow: 0 1px 10px #C5C6C7;
}


.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo p{
    display: flex;
    font-size: 2.6vh;
    transition: 0.5s;
}

.nav-logo p:hover {
    cursor: default;
    color: #45A29E;
    text-shadow: 0px 0 15px #45A29E;
}

.logo{
    padding-left: 0.2rem; padding-right: 0.2rem;
    border-radius: 3rem;
    width: 4vh;
    height: 4vh;
    transition: 1s;
}

.logo:hover {
    background-color: white;
    box-shadow: 0px 0px 40px white, 0px 0px 80px white, 0px 0px 110px white;
}
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

li{
    margin: 1vw;
    transition: 0.5s;
}

.menu li a{
    position: relative;
    text-decoration: none;
    color: #c5c6c7;
    letter-spacing: 0.5px;
    font-size: 2.5vh;
    padding: 0.5vh;
    transition: 0.5s;
}

.menu a::after{
    content: "";
    position: absolute;
    background-color: #66fcf1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.menu a:hover::after{
    width: 100%;
}
.menu a:hover{
    color: white;
    text-shadow: 0 0 20px;
}

/* ------------------------- Contact Us Animation  ---------------------------------- */

.contact_us_at
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}


h2
{
    position: relative;
    font-size: 5vw;
    color: #252839;
    text-transform: uppercase;
    white-space: nowrap;
}

h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #66fcf1;
    border-right: 2px solid #66fcf1;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}



/* -------------------- Social Media Icons ----------------------------------- */



.social-media ul
{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
}

.social-media ul li
{
    list-style: none;
    margin: 0 5vw;
}

.social-media ul li .fab
{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: black;
}

.social-media ul li a
{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c5c6c7;
    text-align: center;
    transition: 0.6s;
}

.social-media ul li a:hover
{
    transform: translate(0, -10px);
}

.social-media ul li a:hover .fab{
    color: white;
}

.social-media ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
    box-shadow: 0px 0px 15px #3b5999;
}

.social-media ul li:nth-child(2) a:hover
{
    background-color: #E4405F;
    box-shadow: 0px 0px 15px #E4405F;
}

.social-media ul li:nth-child(3) a:hover
{
    background-color: #0a66c2;
    box-shadow: 0px 0px 15px #0a66c2;
}



/* --------------------------- Cards ---------------------------------------- */

section{
    position: relative;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 12vh 0 6vh 0;
}

.container .card{
    position: relative;
    width: 21vw;
    height: 32vw;
    background: #1f2833;
    margin: 4vh;
    box-shadow: 0px 0px 15px #1f2833;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.card:hover{
    cursor: default;
    border-radius: 0.4rem;
    transform: translateY(-1vh);
    box-shadow: 0 0.5rem 0 -0.25rem #C5C6C7,
    0 1rem 0 -0.5rem #45A29E,0 1.35rem 0 -0.75rem #66fcf1;
}

.container .card .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition-property: transform;
}

.imagebox
{
    position: relative;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.imagebox img
{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.card:hover .imagebox {
    transform: translateY(-25vh);
}

.card:hover .imagebox {
    box-shadow: 0 1px 10px #66fcf1, 0 1px 20px #66fcf1, 0 1px 30px #66fcf1;
}

h3{
    font-weight: 200;
    font-size: 4vh;
    text-align: center;
    margin: 20px 0 10px;
    transition: 1s;
}

.card:hover h3 {
    color: #C5C6C7;
    font-weight: bold;
    letter-spacing: 3px;
    transform: translateY(-30vh);
}

/* ========================card-dialog==================== */

.content_box {
    width: 25vh;
    display: flex;
    justify-content: center;
}

.developer {
    position: absolute;
}

.content_box h1 {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: left;
    opacity: 0;
    transition: 1s;
}

.card:hover h1 {
    opacity: 1;
    transform: translateY(-20vh);
}

.content_box p {
    margin-top: 3.5vh;
    font-size: 2.1rem;
    opacity: 0;
    transition: 1s;
}

.card:hover p {
    opacity: 1;
    transform: translateY(-25vh);
}

.right {
    font-size: 4rem;
    display: flex;
    justify-content: right;
    opacity: 0;
    transition: 1s;
}

.right:hover {
    transform: translateY(-10vh);
    opacity: 1;
}

.developer a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    height: 6vh;
    width: 18vh;
    opacity: 0;
    transition: 1s;
}

.developer a img {
    /* margin-left: 0.5vh; */
    height: 4vh;
    width: 15vh;
}

.card:hover a {
    opacity: 1;
    transform: translateY(-22vh);
}

.developer a:hover {
    border-radius: 0.5rem;
    background-color: #C5C6C7;
    box-shadow: 0 0 100px #C5C6C7;
}

/* -------------------------------------------------------- */
footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5C6C7;
    font-size: 2.6vh;
    transition: 1s;
}

footer:hover {
    cursor: default;
    letter-spacing: 2px;
    transform: translateY(-2vh);
}

/* --------------------- Scrollbar ------------------------------- */

::-webkit-scrollbar{
    width: 0.75em;
}

::-webkit-scrollbar-track{
    border-radius: 100vw;
    background: #1f2833;
}   

::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.753);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background: #c5c6c7c4;   
}
