@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #1F2833;
    width: 100%;
}

.nav-toggle {
    position: absolute;
    margin: 8vh 2vh 0 0;
    left: 90%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    transition: 1s;
    z-index: 1200;
}

.nav-toggle:hover {
    background-color: #66fcf1;
}

.nav-toggle img {
    z-index: 1200;
    height: 7vh;
    width: 7vh;
    transform-origin: center;
}

.nav-bar{
    position: relative;
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    color: #C5C6C7;
    background-color: #45A29E;
    transform: translateY(-6.4vh);
    transition: 1s;
    z-index: 2;
}

.nav-bar:hover {
    transform: translateY(0);
    box-shadow: 0 0 10px #66fcf1;
    background-color: #1F2833;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo p{
    display: flex;
    font-size: 2.6vh;
    transition: 0.5s;
}

.nav-logo p:hover {
    color: #45A29E;
    cursor:default;
    text-shadow: 0 1px 10px #45A29E;
}

.logo{
    padding-left: 0.2rem; padding-right: 0.2rem;
    border-radius: 3rem;
    width: 4vh;
    height: 4vh;
    transition: 1s;
}

.logo:hover {
    background-color: white;
    box-shadow: 0px 0px 40px white, 0px 0px 80px white, 0px 0px 110px white;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

li{
    margin: 1vw;
}

.menu a{
    position: relative;
    text-decoration: none;
    color: #c5c6c7;
    letter-spacing: 0.5px;
    font-size: 2.5vh;
    padding: 0.5vh;
}

.menu a::after{
    content: "";
    position: absolute;
    background-color: #66fcf1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.menu a:hover::after{
    width: 100%;
}
.menu a:hover{
    color: white;
    text-shadow: 0 0 20px;
}
/* ============================main======================= */
/* ================================liveBoard==================== */
.liveBoard {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B0C10;
    height: 100vh;
    width: 60%;
    transform: translateY(-7vh);
    transition: 1s;
    z-index: 0;
}

.liveBoard:hover {
    box-shadow: inset 0 0 10px #66fcf1,inset 0 0 20px #66fcf1,inset 0 0 30px #66fcf1;
}

.board {
    display: flex;
    justify-content: center;
    align-items: right;
    position: relative;
    background: #C5C6C7;
    height: 65vh;
    width: 40%;
    transition: 1s;
}

.liveBoard:hover .board {
    height: 70vh;
    width: 50%;
}
/* ===================EditorBoard========================== */

.editorBoard {
    position: absolute;
    left: 60%;
    transform: translateY(-7vh);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 40%;
    height: 100vh;
    background-color: #0B0C10;
    color: #C5C6C7;
    z-index: 0;
}

.editorBoard label {
    padding: 4px;
    display: block;
    position: relative;
    margin: 2rem;
}

.editorBoard h1 {
    margin-top: 5vh;
    padding: 5vh;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    color: #C5C6C7;
}

.editorBoard h1:hover {
    transition: 1s;
    transform: translateY(-3px);
    color: #66fcf1;
    text-shadow: 0 0 10px 2px #66fcf1, 0 0 20px 2px #66fcf1, 0 0 30px 2px #66fcf1;
}

.bckgdList {
    border: 2px solid #C5C6C7;
    position: relative;
    margin: 2vh 5vh;
    height: 25vh;
    width: 80%;
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.editorBoard:hover {
    transition: 1s;
    box-shadow: inset 0 0 10px #66fcf1,inset 0 0 20px #66fcf1,inset 0 0 30px #66fcf1;
}

.bckgdList:hover {
    height: 30vh;
    transition: 1s;
    border: 2px solid #66fcf1;
    box-shadow: 0 0 10px #66fcf1, 0 0 20px #66fcf1, 0 0 30px #66fcf1;
}

.bckgdList img {
    display: relative;
    margin: 3px;
}

.animeList {
    border: 2px solid #C5C6C7;
    position: relative;
    margin: 2vh 5vh;
    height: 25vh;
    width: 80%;
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.animeList:hover {
    height: 30vh;
    transition: 1s;
    border: 2px solid #66fcf1;
    box-shadow: 0 0 10px #66fcf1, 0 0 20px #66fcf1, 0 0 30px #66fcf1;
}
/* ==========================footer===================== */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 95%;
    background-color: rgba(0,0,0,0);
    height: 5vh;
    width: 100%;
    color: #C5C6C7;
    animation: footer 3s;
}

@keyframes footer {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
} 


/* ===============scroll-bar================== */

::-webkit-scrollbar{
    width: 0.75em;
}

::-webkit-scrollbar-track{
    border-radius: 100vw;
    background: #1f2833;
}   

::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.753);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background: #c5c6c7c4;   
}

/* -------------------------Media Queries----------------------------------- */

@media(max-width: 1024px){
    * {
        font-size: 50%;
    }

    .nav-logo {
        transform: translateX(3vh) translateY(11vh);
        font-weight: bold;
        max-width: 50vw;
    }

    .nav-logo p {
        font-size: 3rem;
    }

    .nav-bar {
        position: absolute;
        display: block;
        width: 100%;
        height: 28vh;
        transform: translateY(-27.5vh);
    }

    .nav-bar ul{
        
        list-style: none;
        text-decoration: none;
    }

    nav ul {
        display: block;
    }

    nav ul li{
        display: block;
        line-height: 2.7vh;
        transform: translateY(-3.5vh);
        text-align: right; 
    }

    nav ul li a {
        font-size: 1rem;
    }

    .menu a {
        display: inline-block;
    }

    .liveBoard {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
        width: 100%;
    }

    .board {
        display: flex;
        width: 50%;
        height: 100%;
    }

    .liveBoard:hover .board {
        width: 55%;
    }

    .editorBoard {
        display: block;
        width: 100%;
        height: 100vh;
        left: 0;
    }

    .editorBoard label {
        text-align: center;
        font-size: 2rem;
    }

    .bckgdList {
        height: 20vh;
        margin-left: 20vh;
        width: 60%;
    }

    .bckgdList:hover {
        height: 25vh;
        width: 65%;
    }

    .animeList {
        margin-left: 20vh;
        height: 20vh;
        width: 60%;
    }

    .animeList:hover {
        width: 65%;
        height: 25vh;
    }

    footer {
        font-size: 1.4rem;
        display: absolute;
        margin-top: 55vh;
    }
}



@media(max-width: 578px){
    * {
        font-size: 50%;
    }

    .nav-logo {
        transform: translateX(3vh) translateY(10vh);
        font-weight: bold;
        max-width: 50vw;
    }

    .nav-logo p {
        font-size: 3rem;
    }

    .nav-bar {
        position: absolute;
        display: block;
        width: 100%;
        height: 24vh;
        transform: translateY(-28vh);
    }

    .nav-bar ul{
        
        list-style: none;
        text-decoration: none;
    }

    nav ul {
        display: block;
    }

    nav ul li{
        display: block;
        line-height: 2.2vh;
        transform: translateY(-4vh);
        text-align: right; 
    }

    nav ul li a {
        font-size: 1rem;
    }

    .menu a {
        display: inline-block;
    }

    .liveBoard {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }

    .board {
        display: flex;
        width: 50%;
        height: 100%;
        /* transform: translateY(4vh); */
    }

    .liveBoard:hover .board {
        transform: translateY(0);
        height: 100vh;
        width: 65%;
    }

    .editorBoard {
        display: block;
        width: 100%;
        height: 100vh;
        left: 0;
    }

    .editorBoard label {
        text-align: center;
        font-size: 2rem;
    }

    .bckgdList {
        height: 20vh;
        margin-left: 10vh;

        width: 60%;
    }

    .bckgdList:hover {
        height: 25vh;
        margin-left: 5vh;
        width: 78%;
    }

    .animeList {
        margin-left: 10vh;
        height: 20vh;
        width: 60%;
    }

    .animeList:hover {
        width: 78%;
        height: 25vh;
        margin-left: 5vh;
    }

    footer {
        font-size: 1.4rem;
        display: absolute;
        margin-top: 42vh;
    }

    .nav-toggle {
        left: 75%;
        height: 8vh;
        width:8vh;
    }

    .nav-toggle img {
        height: 8vh;
        width:8vh;
    }
}