*{
    margin: 0;
    padding: 0;
}


body {
    background: #1F2833;
}

.nav-bar{
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    color: #C5C6C7;
    background-color: #1F2833;
    animation: nav 2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes nav {
    0% {
        opacity: 0;
        box-shadow: none;
    } 90%{
        box-shadow: 0 0 10px #C5C6C7;
    }
     100% {
        opacity: 1;
        box-shadow: 0 1px 10px #C5C6C7;
    }
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo p{
    display: flex;
    font-size: 2.6vh;
}

.nav-logo p:hover {
    color: #45A29E;
    cursor:default;
    text-shadow: 0 1px 10px #45A29E;
}

.logo{
    padding-left: 0.2rem; padding-right: 0.2rem;
    border-radius: 3rem;
    width: 4vh;
    height: 4vh;
    transition: 1s;
}

.logo:hover {
    background-color: white;
    box-shadow: 0px 0px 40px white, 0px 0px 80px white, 0px 0px 110px white;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

li{
    margin: 1vw;
}

.menu a{
    position: relative;
    text-decoration: none;
    color: #c5c6c7;
    letter-spacing: 0.5px;
    font-size: 2.5vh;
    padding: 0.5vh;
}

.menu a::after{
    content: "";
    position: absolute;
    background-color: #66fcf1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.menu a:hover::after{
    width: 100%;
}
.menu a:hover{
    color: white;
    text-shadow: 0 0 20px;
}
/* ==========================body======================= */

span {
    position: relative;
    display: flex;
    transition: 1.25s;
    /* padding-right: 10vh; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    left: -100%;
    color: #C5C6C7;
}

.box:hover span {
    left: 0%;
}


/* =====================Status======================== */


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: 1s;
    transform: translateY(100vh);
    background: #757985;
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    opacity: 0;
}

.container:hover .box{
    opacity: 1;
    transform: translateY(0);
}

.box:hover {
    box-shadow: inset 0 0 60px #66fcf1, inset 0 0 90px #66fcf1, inset 0 0 120px #66fcf1;
}

.box ul {
    display: inline-block;
    padding-left: 15vh;
}

.box ul li{
    opacity: 0;
    margin-left: 20vh;
    transition: 1s;
}

.box:hover ul li:nth-child(1) {
    transition-delay: 0.25s;
    margin-left: 0;
    opacity: 1;
}

.box:hover ul li:nth-child(2) {
    transition-delay: 0.5s;
    margin-left: 0;
    opacity: 1;
}

.box:hover ul li:nth-child(3) {
    transition-delay: 1s;
    margin-left: 0;
    opacity: 1;
}

.box:hover ul li:nth-child(4) {
    transition-delay: 1.25s;
    margin-left: 0;
    opacity: 1;
}

.box:hover ul li:nth-child(5) {
    transition-delay: 1.5s;
    margin-left: 0;
    opacity: 1;
}

/* =================================================== */

/* --------------------------footer----------------------- */
footer{
    background-color: rgba(0,0,0,0);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5C6C7;
    font-size: 2.6vh;
    padding: 4vh;
    animation: footer 2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes footer {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}